<ion-header>
  <ion-navbar color="calm">
    <ion-title>Control</ion-title>

    <ion-buttons end>
      <button ion-button class="btn" (click)="getKeysFromStorage()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button class="btn" (click)="processKd()">
        Kd
      </button>
      <button ion-button class="btn" (click)="todo_share()">
        <ion-icon name="share"></ion-icon>
      </button>
      <button ion-button class="btn" (click)="todo_settings()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Incoming Data</h2>
  <div class="data_container">
    <ion-scroll scrollY="true" style="width: 100%; height: 100%;">
      <div class="data">
        <p *ngIf="posts">
          {{posts.info}}
        </p>
        <p *ngIf="upload">
          {{upload.info}}
        </p>
        <p *ngFor="let data_show of data_to_show;let i=index">
          {{data_show}}
        </p>
        <!--<p>{{data_received}}</p>-->
        <!--<code>
                <pre>{{data_received_pretty |json}}</pre>
            </code>-->
      </div>
    </ion-scroll>
  </div>

  <div class="kd_container" *ngIf="kd">
    <h2>{{kd.slope*-1}}</h2>
  </div>

  <div class="play_stop_container">
    <button class="start_button" ion-button round (click)="startMeasure()">
      <ion-icon name="play"></ion-icon>
      Play
    </button>

    <button class="stop_button" ion-button round (click)="stopMeasure()">
      <ion-icon name="hand"></ion-icon>
      Stop
    </button>
  </div>


  <div class="download_upload_container">
    <button class="download_button" ion-button round (click)="readMeasure()">
      <ion-icon name="download"></ion-icon>
      Download
    </button>
    <button class="upload_button" ion-button round (click)="uploadMeasure()">
      <ion-icon name="cloud-upload"></ion-icon>
      Upload
    </button>
  </div>

  <div class="trash_container">
    <button class="trash_button" ion-button round (click)="deleteMeasure()">
      <ion-icon name="trash"></ion-icon>
      Delete
    </button>
  </div>

</ion-content>