<ion-header>
  <ion-navbar color="calm">
    <ion-title>KdUINO</ion-title>
    <ion-buttons end>
      <button ion-button class="btn" (click)="ping_devices()">
        <ion-icon name="radio-button-on"></ion-icon>
      </button>
      <button ion-button class="btn" (click)="refresh_devices()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="message">
    <div *ngIf="is_connected;else content">
      <h2>Connection OK!</h2>
    </div>
    <ng-template #content><h2>Not connected to KdUINO</h2></ng-template>
  </div>
  <ion-list>
    <ion-item class="stations" *ngFor="let post of posts;let i=index" (click)="itemClicked($event, post)">
      <div>
        <p>{{post.ip}}</p>
        <p>{{post.mac}}</p>
      </div>
    </ion-item>
  </ion-list>
  <div class="metadata">
    <button ion-button color="calm" (click)="measurement_time_devices()">
      measurement time
    </button>
    <button ion-button color="calm" (click)="position_devices()">
      position
    </button>
  </div>
  <div class="container_message_received">
    <div class="time">
      <div *ngIf="is_received_time">
        Time OK! {{data_time.info}}
      </div>
    </div>
    <div class="position">
      <div *ngIf="is_received_position">
        Position OK! {{data_position.info}}
      </div>
    </div>
  </div>
</ion-content>