page-home {

    .navbar_message {
        text-align: center;
    }

    .message, .container_message_received {
        padding: 1em;
        text-align: center;
        font-size: 14px;
        color: rgb(11, 70, 97);
        width: 100%;
        margin: auto;
    }

    ion-item:nth-of-type(even) {
        div, p{
            text-align: center;
            width: 100%;
            margin: auto;
            background-color: #7ea3e2;
            color: #f4f4f4;
        }
    }

    ion-item:nth-of-type(odd) {
        div, p{
            text-align: center;
            width: 100%;
            margin: auto;
            background-color: #bdd2f7;
            color: rgb(11, 70, 97);
        }
    }

    ion-item:nth-of-type(odd):hover {
        div, p{
            background-color: rgb(11, 70, 97) !important;
            color: #f4f4f4;
        }
    }

    ion-item:nth-of-type(even):hover {
        div, p{
            background-color: rgb(11, 70, 97) !important;
            color: #f4f4f4;
        }
    }

    .stations {
        width: 80%;
        margin: auto;
        padding: 0.1em;
    }

    .metadata {
        display: flex; 
        justify-content: center;
    }

    .delete {
        display: flex; 
        justify-content: center;
        margin-bottom: 1em;
    }

    .button {
        background-color: rgb(11, 70, 97);
        color: white;
        margin-right: 1em;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        width: auto;
    }

    .btn {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px ;
        background-color: rgb(11, 70, 97);
        color: white;
      }

    .btn:hover{
        background-color: orange !important;
    }

    .button:hover{
        background-color: orange !important;
        color: rgb(11, 70, 97);
    }

    .trash_button {
        background-color: rgb(158, 164, 168); 
        color: black;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: auto;
    }
}
