<ion-header>
  <ion-navbar color="calm">
    <ion-title>{{itemSeleccionat.ip}}</ion-title>
    <ion-buttons end>
      <button ion-button class="btn" (click)="ping_device()">
        <ion-icon name="radio-button-on"></ion-icon>
      </button>
      <button ion-button class="btn" (click)="delete_device()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2 text-center *ngIf="itemSeleccionat">
    {{itemSeleccionat.mac}}
  </h2>
  <div class="form">
    <h3>Set depth in cm</h3>
    <form (ngSubmit)="depthForm()">
      <ion-item>
        <ion-input type="number" [(ngModel)]="depth" name="depth"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Ok</button>
    </form>
  </div>
  <div class="container_message_received">
    <div *ngIf="depth_is_received">
      Depth OK! {{data.info}}
    </div>
    <div *ngIf="delete_is_received">
      Delete OK! {{data.info}}
    </div>
  </div>
</ion-content>